In [1]:
import pandas as pd

In [5]:
people = {
    "first" : ["Dharani", "Moulali", "Bharath"],
    "last" : ["Kumar", "Reddi", "Reddi"],
    "email" : ["gopavaram.dharani@gmail.com", "moulali.naguri@gmail.com", "reddybharath702@gmail.com"]
}

In [6]:
df = pd.DataFrame(people)

In [7]:
df

     first   last                        email
0  Dharani  Kumar  gopavaram.dharani@gmail.com
1  Moulali  Reddi     moulali.naguri@gmail.com
2  Bharath  Reddi    reddybharath702@gmail.com

In [12]:
df['last'] == "Reddi"  # this returns a series of objects

0    False
1     True
2     True
Name: last, dtype: bool

In [14]:
filt = (df['last'] == "Reddi")  # creating a filter variable

In [15]:
df[filt] # passing the filt variable to dataframe

     first   last                      email
1  Moulali  Reddi   moulali.naguri@gmail.com
2  Bharath  Reddi  reddybharath702@gmail.com

In [16]:
df[(df['last'] == "Kumar")]  # We can directly pass the filter condition to the dataframe if we want

     first   last                        email
0  Dharani  Kumar  gopavaram.dharani@gmail.com

In [20]:
df.loc[filt]  # we can use loc function to filter the data

     first   last                      email
1  Moulali  Reddi   moulali.naguri@gmail.com
2  Bharath  Reddi  reddybharath702@gmail.com

In [21]:
df.loc[filt, ["email", "last"]]

                       email   last
1   moulali.naguri@gmail.com  Reddi
2  reddybharath702@gmail.com  Reddi

In [25]:
filt = (df['last'] == "Reddi") & (df["first"] == "Moulali")  # having multiple filter condition
# & -- and, | -- or

In [27]:
df.loc[filt]

     first   last                     email
1  Moulali  Reddi  moulali.naguri@gmail.com

In [32]:
filt = (df['first'] == "Dharani") | (df['first'] == "Bharath")

In [33]:
df.loc[filt]

     first   last                        email
0  Dharani  Kumar  gopavaram.dharani@gmail.com
2  Bharath  Reddi    reddybharath702@gmail.com

In [34]:
df.loc[~filt]  # to get the rows that doesn't match the filter condition

     first   last                     email
1  Moulali  Reddi  moulali.naguri@gmail.com

In [49]:
survey_df = pd.read_csv("survey_results_public.csv", index_col="ResponseId")
schema_df = pd.read_csv("survey_results_schema.csv", index_col="qname")

In [69]:
high_sal = (survey_df["CompTotal"] > 7000000)

In [70]:
survey_df.loc[high_sal,["DevType","NEWCollabToolsHaveWorkedWith","Country","CompTotal"]]

,DevType,NEWCollabToolsHaveWorkedWith,Country,CompTotal
ResponseId,,,,
140,Other (please specify):,Notepad++,Serbia,1.000000e+07
143,"Developer, back-end",IPython;Visual Studio Code,"Iran, Islamic Republic of...",3.600000e+09
235,"Developer, full-stack",IntelliJ IDEA;Visual Studio Code;Xcode,Hungary,2.000000e+07
250,"Developer, mobile",Android Studio;Visual Studio Code,Republic of Korea,9.500000e+07
267,"Developer, full-stack",Notepad++;PyCharm;Visual Studio Code,Viet Nam,2.400000e+07
...,...,...,...,...
89095,"Developer, back-end",Android Studio;IntelliJ IDEA;Notepad++;Sublime...,Jamaica,9.000000e+06
89107,"Developer, back-end",Rider;Visual Studio;Visual Studio Code,Armenia,1.680000e+07
89132,"Developer, desktop or enterprise applications",IntelliJ IDEA;IPython;Jupyter Notebook/Jupyter...,Nigeria,1.600000e+07
89139,"Developer, back-end",Visual Studio;Visual Studio Code;VSCodium,Colombia,7.200000e+07
89184,"Developer, full-stack",Visual Studio;Visual Studio Code,"Iran, Islamic Republic of...",3.300000e+09

In [67]:
countries = ["United States of America", "Afghanistan", "India"]
high_sal_countries_filt = (survey_df["CompTotal"] > 7000000) & (survey_df['Country'].isin(countries))

In [73]:
pd.set_option("display.max_rows", 121)
survey_df.loc[high_sal_countries_filt,["DevType","NEWCollabToolsHaveWorkedWith","LanguageHaveWorkedWith","Country","CompTotal"]]

,DevType,NEWCollabToolsHaveWorkedWith,LanguageHaveWorkedWith,Country,CompTotal
ResponseId,,,,,
771,Data scientist or machine learning specialist,IPython;Jupyter Notebook/JupyterLab;Notepad++;...,Bash/Shell (all shells);C;C++;JavaScript;Power...,United States of America,9.000000e+06
5411,"Developer, back-end",CLion;Kate;Nano;Notepad++;Qt Creator;Rad Studi...,C++;HTML/CSS;JavaScript;Python,India,1.000000e+07
9702,"Developer, back-end",IntelliJ IDEA;Jupyter Notebook/JupyterLab;Neov...,Go;JavaScript;Ruby;SQL;TypeScript,India,1.000000e+07
9725,Other (please specify):,Vim,C;C++;Java,India,8.500000e+06
9843,"Developer, front-end",NaN,C++;HTML/CSS;Java;JavaScript;Python;TypeScript,India,7.500000e+06
9864,"Developer, back-end",Eclipse;IntelliJ IDEA;PyCharm,Java;JavaScript;SQL,India,7.200000e+06
10000,"Developer, full-stack",Android Studio;Atom;Eclipse;IntelliJ IDEA;Note...,Apex;Assembly;C++;Flow;HTML/CSS;Java;JavaScrip...,India,2.400000e+07
10694,Engineering manager,IPython;PyCharm;Sublime Text,Groovy;Python;SQL,India,8.000000e+06
11014,"Senior Executive (C-Suite, VP, etc.)",IntelliJ IDEA;Jupyter Notebook/JupyterLab;PyCh...,Bash/Shell (all shells);Go;HTML/CSS;Java;JavaS...,India,1.200000e+07
11401,"Senior Executive (C-Suite, VP, etc.)",IPython;Jupyter Notebook/JupyterLab;Spyder;Vim,Bash/Shell (all shells);HTML/CSS;Python;SAS;SQL,India,7.500000e+06
12465,"Engineer, site reliability",Atom;CLion;Fleet;IntelliJ IDEA;Nano;PyCharm;Vi...,Bash/Shell (all shells);PowerShell;Python;Rust...,India,1.000000e+07
12709,"Senior Executive (C-Suite, VP, etc.)",PyCharm;Sublime Text;Visual Studio Code,HTML/CSS;JavaScript;Python;SQL;TypeScript,India,1.000000e+07
12974,Security professional,Eclipse;IntelliJ IDEA;Notepad++;Vim;Visual Stu...,HTML/CSS;Java;JavaScript,India,8.000000e+06
13779,Engineering manager,VSCodium,Haskell;Python;Rust,India,1.000000e+07
15398,Academic researcher,Android Studio,Ada;APL,India,9.149086e+09
17522,Engineering manager,Android Studio;Atom;Eclipse;IntelliJ IDEA;Note...,C;C++;Go;HTML/CSS;Java;JavaScript;Lua;MATLAB;P...,India,2.000000e+07
17905,"Developer, full-stack",Visual Studio Code;Xcode,C;C#;C++;Java;JavaScript;PHP,India,7.200000e+06
18954,"Developer, back-end",Eclipse;Emacs;IntelliJ IDEA;Notepad++;Sublime ...,Bash/Shell (all shells);C#;Java;JavaScript;Pow...,India,1.200000e+07
19082,Engineering manager,Android Studio;IntelliJ IDEA;Visual Studio Code,JavaScript;Python;SQL,India,1.000000e+07
19967,Data scientist or machine learning specialist,IPython;Jupyter Notebook/JupyterLab;Notepad++;...,Bash/Shell (all shells);JavaScript;MATLAB;Pyth...,India,8.000000e+06
20759,"Developer, front-end",Android Studio;Vim;Visual Studio,HTML/CSS;JavaScript;TypeScript,India,8.000000e+06
22221,"Developer, back-end",Emacs;IntelliJ IDEA;Notepad++;PyCharm;Vim;Visu...,Clojure;Java;Python;Scala,India,7.500000e+06
22993,Hardware Engineer,IPython;Jupyter Notebook/JupyterLab;Notepad++;...,C++;Python,India,7.500000e+06
31075,"Developer, back-end",IntelliJ IDEA;PyCharm;Sublime Text;Vim;Visual ...,C#;Java;Kotlin;Python,India,1.000000e+07
31202,"Developer, back-end",Neovim;Nova,Bash/Shell (all shells);C#;Go;PHP,India,9.500000e+06
33021,"Developer, back-end",IntelliJ IDEA;Vim;Visual Studio Code,Scala,India,7.500000e+06
35368,"Developer, back-end",Vim;Visual Studio Code,Go;HTML/CSS;TypeScript,India,1.000000e+07
36065,"Developer, front-end",Visual Studio Code,HTML/CSS;JavaScript;PHP;TypeScript,India,1.000000e+07
36302,Other (please specify):,Visual Studio Code,C#;Elixir;HTML/CSS;JavaScript;Ruby;SQL,India,8.000000e+06
36752,Engineering manager,Goland;IntelliJ IDEA;IPython;Jupyter Notebook/...,C++;Go;Java;JavaScript;Python,India,1.000000e+07
37843,DevOps specialist,Android Studio;IntelliJ IDEA;Jupyter Notebook/...,Bash/Shell (all shells);Dart;HTML/CSS;Java;Jav...,India,1.000000e+07
38449,"Developer, full-stack",Android Studio;Notepad++;Sublime Text;Vim;Visu...,Bash/Shell (all shells);C;C#;C++;Dart,India,8.000000e+06
39234,"Developer, full-stack",Visual Studio;Visual Studio Code,Apex;HTML/CSS;JavaScript,India,8.000000e+06
41081,Engineering manager,IntelliJ IDEA;Visual Studio Code,Go;Java;SQL,India,7.500000e+06
41739,Data scientist or machine learning specialist,IPython;Jupyter Notebook/JupyterLab;Visual Stu...,Prolog;Python,India,1.000000e+07
45332,"Developer, front-end",Nano;Visual Studio Code,HTML/CSS;JavaScript,India,9.000000e+06
46300,"Developer, back-end",Neovim,Go;SQL,India,1.000000e+07
47515,"Developer, back-end",Visual Studio Code,JavaScript,India,1.000000e+07
48195,Educator,CLion;IntelliJ IDEA;PyCharm;Sublime Text;WebStorm,HTML/CSS;Java;JavaScript;Python;SQL;TypeScript,India,1.200000e+07
49554,Research & Development role,Notepad++;Spyder;Vim;Visual Studio Code,Bash/Shell (all shells);C;C++;Fortran;Julia;MA...,United States of America,1.000000e+16
50306,"Developer, front-end",Android Studio;IPython;PyCharm;Spyder;Sublime ...,C;C#;Dart;HTML/CSS;Java;JavaScript;PowerShell;...,India,1.000000e+10
50395,"Developer, full-stack",Eclipse;Vim;Visual Studio Code,Java;JavaScript;PHP;Python,India,1.200000e+07
51356,Research & Development role,Emacs;Vim;Visual Studio Code,Erlang;Lisp;Python,India,1.000000e+07
52257,"Developer, back-end",Vim;Visual Studio Code,Bash/Shell (all shells);Go;Python;Rust,India,7.600000e+06
52814,"Developer, full-stack",Visual Studio Code,Bash/Shell (all shells);Go;HTML/CSS;JavaScript...,India,2.220000e+07
58195,Research & Development role,IntelliJ IDEA;Notepad++;Visual Studio;Visual S...,C#;Go;Java;JavaScript;TypeScript,India,9.000000e+06
58985,"Developer, mobile",Android Studio;Atom;IntelliJ IDEA;Vim;Visual S...,Flow;HTML/CSS;JavaScript;Kotlin;Objective-C;Swift,India,8.800000e+06
62762,"Developer, full-stack",Visual Studio;Visual Studio Code,C#;JavaScript;SQL;TypeScript,India,7.800000e+06
63460,Academic researcher,Emacs;Helix;Neovim;Vim,Bash/Shell (all shells);C;C++;MATLAB;Python;Rust,India,1.400000e+07
64989,"Developer, full-stack",Android Studio;Neovim;Visual Studio Code,Dart;Java;JavaScript;Kotlin;Python,India,7.200000e+06
65882,"Developer, back-end",IntelliJ IDEA;Visual Studio Code,Java,India,1.000000e+07
66758,NaN,Atom;BBEdit;CLion;Code::Blocks;condo;DataGrip;...,Apex;Assembly;Bash/Shell (all shells);C#;Cobol...,United States of America,5.000031e+07
66812,"Developer, front-end",Visual Studio Code,JavaScript,India,8.000000e+06
69243,Research & Development role,Android Studio;Notepad++;Qt Creator;Visual Stu...,C;Perl;PHP,India,8.000000e+06
70191,"Senior Executive (C-Suite, VP, etc.)",Sublime Text;Visual Studio Code;WebStorm,HTML/CSS;JavaScript;Python;TypeScript,India,7.500000e+06
71690,"Developer, full-stack",IntelliJ IDEA;Neovim;Visual Studio Code,Bash/Shell (all shells);C++;Clojure;Go;Java;Ja...,India,2.000000e+07
72666,"Developer, mobile",Android Studio;IntelliJ IDEA;Vim;Visual Studio...,Dart;Objective-C;Solidity;Swift,India,3.500000e+07
74395,"Developer, full-stack",Android Studio;IntelliJ IDEA;Vim;Visual Studio...,Bash/Shell (all shells);Java;JavaScript;Kotlin...,India,1.200000e+07
76024,"Developer, full-stack",IntelliJ IDEA;Visual Studio Code,HTML/CSS;Java;JavaScript,India,9.000000e+06
76341,"Senior Executive (C-Suite, VP, etc.)",Vim;Visual Studio Code,C;OCaml,India,1.400000e+07
79335,"Developer, full-stack",Android Studio;Nano;Visual Studio Code;Xcode,Bash/Shell (all shells);C#;Dart;HTML/CSS;Java;...,India,7.500000e+06
80587,"Senior Executive (C-Suite, VP, etc.)",NaN,Bash/Shell (all shells);C++;JavaScript;Python,United States of America,1.100000e+07
84040,"Developer, full-stack",Vim;Visual Studio Code,HTML/CSS;JavaScript;Python;SQL;TypeScript,India,7.200000e+06
84096,"Developer, full-stack",Android Studio;Atom;Emacs;Neovim;Visual Studio...,Dart;Elixir;Haskell;JavaScript;Lua;Python;Rust...,India,1.360000e+07
84609,"Developer, back-end",Neovim,Rust,India,8.000000e+06
86253,"Senior Executive (C-Suite, VP, etc.)",Visual Studio Code,HTML/CSS;JavaScript;TypeScript,India,1.120000e+07
86269,Hardware Engineer,NaN,C;C++;Python;SQL,India,2.800000e+07
88348,Blockchain,Emacs,Cobol,Afghanistan,9.324644e+08

In [79]:
countries = ["United States of America", "Afghanistan", "India"]
salary_filt = (survey_df["CompTotal"] > 800000)
countries_filt = (survey_df["Country"].isin(countries))
language_filt = (survey_df["LanguageHaveWorkedWith"].str.contains("Python", na=False))
all_filt = salary_filt & countries_filt & language_filt
survey_df.loc[all_filt, ["DevType","NEWCollabToolsHaveWorkedWith","LanguageHaveWorkedWith","Country","CompTotal"]]

,DevType,NEWCollabToolsHaveWorkedWith,LanguageHaveWorkedWith,Country,CompTotal
ResponseId,,,,,
210,"Developer, full-stack",RubyMine;Visual Studio Code,Assembly;Bash/Shell (all shells);C;C++;Dart;HT...,India,3000000.0
378,"Developer, full-stack",Android Studio;Atom;Eclipse;IntelliJ IDEA;Nano...,Bash/Shell (all shells);HTML/CSS;Java;JavaScri...,India,2500000.0
398,"Developer, embedded applications or devices",Visual Studio Code,C;C++;Go;HTML/CSS;Python;Rust;SQL;TypeScript,India,1050000.0
427,Data scientist or machine learning specialist,Jupyter Notebook/JupyterLab;Nano;Notepad++;PyC...,Python;R;Scala;SQL,India,2000000.0
604,"Engineer, data",Jupyter Notebook/JupyterLab;PyCharm;Spyder;Sub...,C;C#;HTML/CSS;JavaScript;Python;SQL,India,1400000.0
...,...,...,...,...,...
89009,"Developer, full-stack",Visual Studio Code,HTML/CSS;Python;SQL;TypeScript,India,3100000.0
89024,"Developer, full-stack",Jupyter Notebook/JupyterLab;Visual Studio Code,Dart;GDScript;HTML/CSS;JavaScript;Python;SQL,India,1700000.0
89085,"Developer, full-stack",IntelliJ IDEA,C;C#;C++;Java;JavaScript;Python;Ruby,India,3200000.0
89106,"Developer, full-stack",Visual Studio Code,Bash/Shell (all shells);C#;Go;HTML/CSS;JavaScr...,India,1200000.0
89109,Engineering manager,Android Studio;IPython;PyCharm;Sublime Text;Vi...,Bash/Shell (all shells);Python;SQL,India,1300000.0

In [82]:
survey_df.loc[language_filt, "LanguageHaveWorkedWith"]

ResponseId
2                               HTML/CSS;JavaScript;Python
8        Go;HTML/CSS;JavaScript;Python;Rust;SQL;TypeScript
10          HTML/CSS;Java;JavaScript;Python;SQL;TypeScript
11                       C#;C++;HTML/CSS;JavaScript;Python
12       C#;HTML/CSS;JavaScript;Kotlin;PowerShell;Pytho...
                               ...
89173    Bash/Shell (all shells);HTML/CSS;JavaScript;Pe...
89177    HTML/CSS;Java;JavaScript;PHP;Python;SQL;TypeSc...
89181                                 Dart;Java;Python;SQL
89182    Assembly;Bash/Shell (all shells);C;C#;Python;R...
89183    Bash/Shell (all shells);C#;HTML/CSS;Java;JavaS...
Name: LanguageHaveWorkedWith, Length: 43158, dtype: object