In [ ]:
person = {
    "first" : "Dharani",
    "last" : "Kumar",
    "email" : "gopavaram.dharani@gmail.com"
}

In [ ]:
people = {
    "first" : ["Dharani"],
    "last" : ["Kumar"],
    "email" : ["gopavaram.dharani@gmail.com"]
}

In [ ]:
people = {
    "first" : ["Dharani", "Moulali", "Bharath"],
    "last" : ["Kumar", "Naguri", "Koramuntla"],
    "email" : ["gopavaram.dharani@gmail.com", "moulali.naguri@gmail.com", "reddybharath702@gmail.com"]
}

In [ ]:
import pandas as pd

In [ ]:
data_df = pd.DataFrame(people)

In [ ]:
data_df

In [ ]:
data_df['email']  # accessing a particular column from a dataframe using square bracket notation

In [ ]:
type(data_df['first'])  # the type if we are selecting only one column from dataframe is series
# series is basically a rows of a single column
# dataframe is a container for multiple series objects

In [ ]:
data_df.email  # accessing a particular column from a dataframe using dot notation
# prefer square bracket notation because when we use dot notation it might collide with the inbuilt dataframe attributes

In [ ]:
data_df[['email', 'last']]  # accessing multiple columns from the dataframe
# The return type of the above line is another filtered dataframe

In [ ]:
data_df.columns  # returns all the columns present in the dataframe

In [ ]:
# To access rows from a dataframe we can use loc and iloc functions
# iloc allow us to access rows by integer location
data_df.iloc[1]  # returns the second row in the dataframe

In [ ]:
data_df.iloc[[1,2]]  # accessing multiple rows from a dataframe

In [ ]:
data_df.iloc[[0,2], [2,0]]  # accessing multiple rows and multiple columns from a dataframe
# iloc only accepts the integers as its arguments

In [ ]:
data_df.loc[0]  # accessing the first row of the table using index
# loc takes a index which is basically 0, 1 and 2 which we see when we display the dataframe

In [ ]:
data_df.loc[[0, 2], "last"]  # accessing multiple rows from the dataframe using loc function

In [ ]:
data_df.loc[[0,2], ["email", "first"]]  # accessing multiple rows and columns from dataframe using loc function
# To loc function we can't pass the integer values for columns because loc function accepts labels instead of integers

In [ ]:
data_df.set_index("email")  # setting an index for the dataframe

In [ ]:
data_df  # The actual dataframe doesn't get changed
# All the operations we perform doesn't actually affect the original dataframe

In [ ]:
data_df.set_index("email", inplace=True)

In [ ]:
data_df

In [ ]:
data_df.index  # to know the index of the dataframe

In [ ]:
data_df.loc["moulali.naguri@gmail.com"]  # accessing the details of a particular index value

In [ ]:
data_df.loc[["moulali.naguri@gmail.com", "reddybharath702@gmail.com"], ["last"]]  # we can view the specific column if we want
# Once we create the index we can't use the integer index to get the rows

In [ ]:
data_df.iloc[[0,2]]

In [ ]:
data_df.reset_index(inplace=True)

In [ ]:
data_df